body{
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#juego {
    text-align: center;
    margin-top: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 2s;
}

#caja {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(60deg) rotateZ(0);
    z-index: 5;
}

.cara {
    position: absolute;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}


.cara.frontal {
    width: 100%;
    height: 100%;
    background-color: #4a4a4a;
    background: linear-gradient(to bottom right, #5a5a5a, #2a2a2a);
    transform: translateZ(100px);
}


.cara.superior {
    width: 100%;
    height: 350px;
    background-color: #3a3a3a;
    background: linear-gradient(to right, #4a4a4a, #2a2a2a);
    transform: rotateX(90deg) translateY(-71px) translateZ(173px);
}


.cara.lateral {
    width: 350px;
    height: 100%;
    background-color: #2a2a2a;
    background: linear-gradient(to bottom, #4a4a4a, #2a2a2a);
    transform: rotateY(90deg) translateX(71px) translateZ(-173px);
}


#expositor {
    width: 90%;
    height: 300px;
    margin: 100px auto 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.expositorImagen {
    width: 150px;
    height: auto;
    margin: 5px;
}

#nuevoExpositor {
    width: 90%;
    height: 300px;
    margin: 100px auto 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#indicador {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    z-index: 10;
}

#botonAbrir {
    display: block;
    width: 150px;
    padding: 10px 20px;
    margin: 20px auto;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#botonAbrir:hover {
    background-color: #45a049;
}

.ocultar {
    display: none !important;
}

@keyframes rotarCaja {
    0% {

        transform: rotateX(-20deg) rotateY(60deg) rotateZ(0);
    }
    100% {

        transform: rotateX(-5deg) rotateY(75deg) rotateZ(0);
    }
}

.rotarCaja {
    animation: rotarCaja 2s ;
}

@keyframes desplazamientoImagenes {
    0% { transform: translateX(0); }
    100% { transform: translateX(-5000%); }
}

.contenedorImagenes {
    display: flex;
    width: max-content;
    overflow: hidden;
}

.imagenAnimada {
    width: 250px;
    height: auto;
    animation: desplazamientoImagenes 10s linear forwards;
}