body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  margin: 0; 
  color: #ecf0f1;
  background-color: #1e272e; 
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #2f3640;
  color: #ecf0f1;
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.header-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

main {
  display: flex;
  justify-content: center;
  padding: 15px;
  height: 90%;
  box-sizing: border-box;
  gap: 20px;
}

.button,
#logout-button,
.edit-btn,
.delete-btn {
  color: #ffffff;
  background-color: #8e44ad;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease;
  transition: all 0.3s ease;
}

.button:hover,
#logout-button:hover,
.edit-btn:hover,
.delete-btn:hover {
  border: 1px solid #bdc3c7;
  background-color: #e84393;
  color: #ecf0f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input,
button {
  background-color: #353b48; 
  color: #ffffff; 
  border: 1px solid #57606f;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
input:hover,
button:hover {
  border-color: #9b59b6;
}

#week-selector .button {
  border-radius: 8px;
}

#calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #8e44ad;
  font-size: 20px;
  font-weight: bold;
}

#week-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #8e44ad;
}
#week-selector .button {
  border: 1px solid #8e44ad;
  border-radius: 8px;
}

#calendar-container {
  box-sizing: border-box;
  
}
.container-ancha {
  width: 95%; 
  max-width: none; 
}
#calendar {
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
  border: 1px solid #8e44ad;
}
#calendar td {
  height: 60px;
  min-width: 150px;
  padding: 15px;
  text-align: center;
  border: 1px solid #8e44ad;
}
#calendar td .guardia-buttons {
  display: none;
}
#calendar td:hover .guardia-buttons {
  display: block;
  cursor: pointer;
}

#calendar th {
  border: 1px solid #8e44ad;
  background-color: #2f3640;
  text-align: center;
  padding: 10px;
}

#profesores-panel {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  width: 25%;
}
#profesores-panel, .profesor {
  background-color: #353b48;
  color: #ffffff;
  border: 1px solid #57606f;
}
.profesor {
  padding: 15px;
}

.edit-btn {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.edit-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.delete-btn {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.delete-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#logout-button {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}
#logout-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}