.divAttribute {
    flex: 1 1;
    color: white;
    padding: 3%;
    margin: 2%
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.rowReverse {
    display: flex;
    flex-direction: row-reverse;
}

.columnReverse {
    display: flex;
    flex-direction: column-reverse;
}

.section1 {
    background-color: #ee3838;
}

.section2 {
    background-color: #3093d2;
}

.section3 {
    background-color: #4cc42d;
}