body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #38aae5;
}

.contenedor-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.imagen {
    width: 250px;
    height: 250px;
    margin: 10px;
    background-size: cover;
    background-position: center;
    border: 3px solid #8f8a27;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #3498db;
    transition: background-color 0.3s;
}

.imagen:hover {
    transform: scale(1.1);
    background-color: #e74c3c;
}

.imagen h2, .imagen p {
    margin: 0;
    padding: 10px;
    text-align: center;
}

h2 {
    color: #fff;
}

p {
    color: #333;
}