
#calculadora{
    margin: 0 auto;
    padding: 20px;
    width: 250px;
    height: auto;
    align-content: center;
    text-align: center;
    border-radius: 20px;
    border: 3px solid #101111;
    background-color: #88A847;
}
#pantalla{
    margin: auto;
    border-radius: 10px;
    border: 1px solid #101111;
    background-color:  #D6F598;
    width: 200px;
    padding: 10px;
    height: 50px;
    color: #acacac;
}
button{
    margin: 2px;
    background-color: #C677E0;
    border-radius: 10%;
    width: 50px;
    height: 50px;
}
button:hover{
    background-color: #DE98F5;
}
button#delete{
    border-radius: 5px;;
    margin: 2px;
    width: 106px;
    height: 50px;
}